<form action="/login" method="post">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="LOG IN">
</form>

<form action="/signup" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="image" placeholder="Place Image URL">
  <input type="text" name="description" placeholder="description">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="SIGN UP">
</form>

